body{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 10%;
	/*margin-right: 7.5%;*/
}

.Parent {
	/*padding-right: 7.5%;*/
}


.Name {
	position: absolute;
	left: 10%;
	top: 5%;
	font-family: hypatia-sans-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30pt;
}

.Menu {
	/*margin-right: 7.5%;*/
	position: absolute;
	left: 80%;
	top:11%;
}

.menuList {

	list-style-type: none;
	position: absolute;
	padding: 25% 17%;
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14pt;
	display: flex;
	flex-direction: row;

}

li {
		margin: 9%;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
	color: black;
}

/* mouse over link */
a:hover {
  color:rgb(255,87,69);
  text-decoration: underline;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* selected link */
a:active {
  color: rgb(255,87,69);
  text-decoration: underline;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}



.Name a:link {
  color: black;
  text-decoration: none;
}

.Name a:visited {
	color: black;
}

/* mouse over link */
.Name a:hover {
  color:rgb(255,87,69);
  text-decoration: underline;
  font-family: hypatia-sans-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* selected link */
.Name a:active {
  color: rgb(255,87,69);
  text-decoration: underline;
  font-family: hypatia-sans-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}



@media screen and (max-width: 500px) {
	ul.menuList{
	display: flex;
	flex-direction: column;
	padding-right: 7%;
	}
}


.Main{
	position: absolute;
	top: 27%;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 14pt;
	margin-bottom: 5%;
}

#Week6 {
	font-family: futura-pt, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 23px;
}

.Main p{
	width: 63%;
	text-indent: 5%;
	margin-top: 2%;
	margin-left: 12%;
}

.main h4{
	text-indent: 5%;
	margin-left: 10%;
}

.Main img {
	width: 54%;
	height: auto;
	margin-left: 17%;
}

#cotton{
	width: 39%;
	height: auto;
	margin-left: 24%;
}

#Links {
	text-indent: 0%;
	margin-bottom: 10%;
}

.title {
	font-size: 18pt;
	margin-left: 8%;
}

.video {
	margin-left: 16%;
}

.grid{
	width: 75%;
	margin-left: 11%;
}

#item1{
	margin: 0 1.5% 0 0;
	width: 28%;
	height: auto;
}

#item2{ 
	margin: 0 1.5% 0 0;
	width: 28%;
	height: auto;
}

#item3{
	margin: 0 0 0 0;
	width: 28%;
	height: auto;
}

#item4{
	margin: 1.5% 1.5% 0 0;
	width: 28%;
	height: auto;
}

#item5{ 
	margin: 1.5% 1.5% 0 0;
	width: 28%;
	height: auto;
}

#item6{
	margin: 1.5% 0 0 0;
	width: 28%;
	height: auto;
}

#item7{
	margin: 1.5% 1.5% 0 0;
	width: 28%;
	height: auto;
}

#item8{ 
	margin: 1.5% 1.5% 0 0;
	width: 28%;
	height: auto;
}

#item9{
	margin: 1.5% 0 0 0;
	width: 28%;
	height: auto;
}

#item10{
	margin: 1.5% 1.5% 0 0;
	width: 28%;
	height: auto;
}

#item11{ 
	margin: 1.5% 1.5% 0 0;
	width: 28%;
	height: auto;
}

#item12{
	margin: 1.5% 0 0 0;
	width: 28%;
	height: auto;
}

#item13{
	margin: 1.5% 1.5% 0 0;
	width: 28%;
	height: auto;
}

#item14{ 
	margin: 1.5% 1.5% 0 0;
	width: 28%;
	height: auto;
}

#item15{
	margin: 1.5% 0 0 0;
	width: 28%;
	height: auto;
}

#item16{
	margin: 1.5% 1.5% 0 0;
	width: 28%;
	height: auto;
}

#item17{ 
	margin: 1.5% 1.5% 0 0;
	width: 28%;
	height: auto;
}

#item18{
	margin: 1.5% 0 0 0;
	width: 28%;
	height: auto;
}